<ul class="xsponsor-images">
    {{#each sponsors as |sponsor| }}
    <li>
      <a href="{{sponsor.website}}" target="_blank">
        <img src="images/sponsors/{{sponsor.image}}" alt="{{sponsor.name}}" data-no-retina>
      </a>
    </li>
    {{/each}}
</ul>