/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$black: #30221F; // Headlines
$darkblack: #201614; // Bottom Footer
$blue: #4AA0B8; // Buttons, links
$darkblue: #2C92AD; // Link hover
$light-blue: #0FBAD0; // Button hover
$beige: #8E8685; // Body copy
$darkbeige: #695E5C; // Body copy hover
$bg: #EEEBEB; // Page background
$darkerbg: #E2DEDE; // Slightly darker page background
$darkhairline: #C9C3C2; // For horizontal rules over $darkerbg
$hairline: #D2CDCC; // For horizontal rules
$orange: #EC8820; // Image overlays
$ember: #E34E32;
$green: #8DB580; // Keynote speakers, $ addons
$pink: #B5808F; // For "trainers"
$hairline-darkbg: #42342F; // For hairlines on dark backgrounds (e.g., footer)
$bronze: #bc9f83; // Sponsors
$silver: #B2B1AC; // Sponsors
$gold:#dcc370; // Sponsors
$diamond: #b3c6cd; // Sponsors
