<header class="row global-nav">
  <div class="small-12 large-5 columns">
    <div>
      {{#link-to 'index' class="logo"}}
        <span class="tomster"></span>
        <img src="images/emberconf-logo.png" alt="Emberconf 2017 Logo"/>
      {{/link-to}}
      <a href="index.html" class="date-and-location">
        <h3>
          <span class="date">March 28 &amp; 29</span><br class="date-break" />
          <span class="location"> Portland, OR</span><br />
          <span class="bonus-text">Plus a bonus training day!</span>
        </h3>
      </a>
      <a href="#footer" class="menu-button small-button round">Menu</a>
    </div>
  </div>
  <div class="small-12 large-7 columns">
    {{partial "global-navigation" }}
  </div>
</header>
