
<div class="register">
  {{partial "header"}}
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns">
        <h1>Register to attend.</h1>
        <p class="call-to-action"><a href="https://www.eventbrite.com/e/emberconf-2017-registration-26664379878?ref=eweb">Visit Eventbrite to buy tickets</a></p>
    </div>
  </div>
</section>
<section class="tickets">
  <!-- <p class="eventbrite-prep">
    Public registration opens on December 21st at 8am pacific.
  </p> -->
  <div class="row desktop">
    <div class="small-12 medium-12 columns">
      <iframe  src="https://www.eventbrite.com/e/emberconf-2017-registration-26664379878?ref=eweb" frameborder="0" height="1625" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
       <div style="font-size:10px; padding:5px 0 10px; margin:2px; width:100%; text-align:center;" >
        <a class="powered-by-eb" style="text-decoration: none;" target="_blank" href="http://www.eventbrite.com/l/registration-online/">Powered by Eventbrite</a>
      </div>
      <p class="eventbrite-prep">Upon selecting the tickets you wish to purchase, you'll be redirected to make your purchase on Eventbrite. <br /> Missed out on something? <a href="https://tilde.wufoo.com/forms/emberconf-2017-waitlist/">Join the activity and training waitlist.</a></p>
    </div>
  </div>
</section>
<section class="faq-callout">
  <div class="row">
    <div class="small-12 medium-12 columns">
      <div class="hairline-top">
        <p class="call-to-action"><a href="faqs.html#transfers">Learn about refunds and transfers</a></p>
        <p class="call-to-action"><a href="faqs.html">Read our FAQs</a></p>
      </div>
    </div>
  </div>
</section>

{{partial "footer"}}
</div>